// colors
$c-page-wh: #FFFFFF;
$c-text:    #000000;
$c-button:  #08A6E4;
$c-button2: #fb3b64;
$c-button3: #55dfb4;
$c-shadows: rgba(7, 172, 230, .16);
$c-page-gr: #A5A5A5;
$c-page-gr-2: #F7F7F7;


// breakpoints
$tablet-size:  768px;
$desktop-size: 990px;

// grid
$max-container-width: 990px;
$columns: 12;
$column-base-width: 100% / $columns;
$gutter-width: 24px;